+nl()
+nl()
// Scripts
script(src='js/jquery.min.js')
script(src='js/bootstrap.bundle.min.js')
script(src='js/isotope.pkgd.min.js')
script(src='js/animatedModal.js')
script(src='js/owl.carousel.min.js')
script(src='js/simplebar.min.js')
script(src='js/jquery.mb.YTPlayer.min.js')
script(src='js/particles.js')
script(src='js/main.js')
+nl()
// Custom JS (Add your custom JS scripts to this file)
script(src='js/custom.js')
+nl()
