+nl()
// About
section#about-area.single-section.about-area
  .container
    .row
      .col-12
        .section-heading
          h2.section-title About me
          p.section-description Get to know me
    .row.align-items-center
      +nl()
      // Picture part
      .col-12.col-lg-5.about-img
        img.img-fluid.img-thumbnail(src='img/about-img.jpg', alt='About Picture')
      +nl()
      // Content part
      .col-12.col-lg-7.about-content
        .content-block
          h2.content-subtitle Who am i?
          h6.content-title I'm Alex Smith, a visual UX/UI Designer and Web Developer
          .content-description
            p
              | I am a freelancer based in the United Kingdom and i have been building noteworthy UX/UI designs and websites for years, which comply with the latest design trends. I help convert a vision and an idea into meaningful and useful products. Having a sharp eye for product evolution helps me prioritize tasks, iterate fast and deliver faster.
          address.content-info
            .row
              .col-12.col-md-6.single-info
                span Name:
                p Alex Smith
              .col-12.col-md-6.single-info
                span Email:
                p
                  a(href='mailto:daniel@example.com') alex@example.com
            .row
              .col-12.col-md-6.single-info
                span Age:
                p 21
              .col-12.col-md-6.single-info
                span From:
                p Liverpool, UK
          a.btn.content-download.button-main.button-scheme(href='#0', role='button') Download CV
          a.btn.content-work.button-main(data-scroll='', href='#portfolio-area', role='button') My Work
