+nl()
// Blog
section#blog-area.single-section.blog-area
  .container
    .row
      .col-12
        .section-heading
          h2.section-title My Blog
          p.section-description Check out my latest blog posts
    .row.justify-content-center
      +nl()
      // Single post
      .col-12.col-sm-8.col-lg-4
        .card.single-post
          a.post-img(href='#0')
            img.card-img-top(src='img/post-1.jpg', alt='Blog post')
            span.content-date 15 Nov, 19
          .card-body.post-content
            a(href='#0')
              h5.card-title.content-title Top tools for Photographers
            p.card-text.content-description
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.
            .content-tags
              span.tags-title Tags:
              ul.list-unstyled.list-inline.tags-list
                li.list-inline-item
                  a(href="#0") Photography
                li.list-inline-item
                  a(href="#0") Freelance
      +nl()
      // Single post
      .col-12.col-sm-8.col-lg-4
        .card.single-post
          a.post-img(href='#0')
            img.card-img-top(src='img/post-2.jpg', alt='Blog post')
            span.content-date 8 Aug, 19
          .card-body.post-content
            a(href='#0')
              h5.card-title.content-title Take a tour of my office
            p.card-text.content-description
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.
            .content-tags
              span.tags-title Tags:
              ul.list-unstyled.list-inline.tags-list
                li.list-inline-item
                  a(href="#0") Events
                li.list-inline-item
                  a(href="#0") Personal
      +nl()
      // Single post
      .col-12.col-sm-8.col-lg-4
        .card.single-post
          a.post-img(href='#0')
            img.card-img-top(src='img/post-3.jpg', alt='Blog post')
            span.content-date 11 Dec, 18
          .card-body.post-content
            a(href='#0')
              h5.card-title.content-title How i became a Web Designer
            p.card-text.content-description
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.
            .content-tags
              span.tags-title Tags:
              ul.list-unstyled.list-inline.tags-list
                li.list-inline-item
                  a(href="#0") Web Design
                li.list-inline-item
                  a(href="#0") Freelance
