+nl()
// Footer
footer.footer-area.single-section
  .container
    .row.contact-info
      .col-12.col-sm-4
        .single-info
          i.info-icon.icon.ion-md-map
          p.info-content
            a(href='https://goo.gl/maps/2YAGiugG47VAS17g7', target='_blank') 4155, Liverpool, United Kingdom.
      .col-12.col-sm-4
        .single-info
          i.info-icon.icon.ion-md-call
          p.info-content
            a(href='tel:+441632967704') +44 1632 967704
      .col-12.col-sm-4
        .single-info
          i.info-icon.icon.ion-md-send
          p.info-content
            a(href='mailto:alex@example.com') alex@example.com
    .row.mini-footer
      .social-medias.col-12.col-lg-5
        a.twitter(href='#0')
          i.icon.ion-logo-twitter
        a.instagram(href='#0')
          i.icon.ion-logo-instagram
        a.linkedin(href='#0')
          i.icon.ion-logo-linkedin
        a.youtube(href='#0')
          i.icon.ion-logo-youtube
        a.github(href='#0')
          i.icon.ion-logo-github
        a.facebook(href='#0')
          i.icon.ion-logo-facebook
      p.copyright-notice.col-12.col-lg-7
        | Copyright © 2019 CardX, all rights reserved. Developed by
        +spc
        a(href='https://themeforest.net/user/exill', target='_blank') Exill
        | .
