+nl()
// Hire
section#hire-area.single-section.element-cover-bg.hire-area(style=`background-image:url(img/hire.jpg)`)
  .container
    .row.row-custom
      .col-12.col-md-8.content-part
        h1.hire-title Let's work together!
        p.hire-description I am available for freelance projects. Hire me and get your project done.
      .col-12.col-md-4.button-part
        a.btn.hire-btn.button-main.button-scheme(data-scroll='', href='#contact-area', role='button') Hire me
