+nl()
// Testimonials
section#testimonials-area.single-section.testimonials-area.alt-bg
  .container
    .row
      .col-12
        .section-heading
          h2.section-title Testimonials
          p.section-description What my clients think about me
    .owl-carousel.owl-theme
      // Single review
      .single-review
        i.icon.ion-md-quote.review-icon
        p.review-content
          | Daniel did an excellent creative job. Quick and professional. Highly recommended, and will definitely work with him again.
        img.client-avatar(src='img/client-1.jpg', alt='Review avatar')
        span.client-name Maria Wilson
      // Single review
      .single-review
        i.icon.ion-md-quote.review-icon
        p.review-content
          | Daniel did an excellent creative job. Quick and professional. Highly recommended, and will definitely work with him again.
        img.client-avatar(src='img/client-2.jpg', alt='Review avatar')
        span.client-name John Santana
      // Single review
      .single-review
        i.icon.ion-md-quote.review-icon
        p.review-content
          | Daniel did an excellent creative job. Quick and professional. Highly recommended, and will definitely work with him again.
        img.client-avatar(src='img/client-3.jpg', alt='Review avatar')
        span.client-name Julia Sakura
      // Single review
      .single-review
        i.icon.ion-md-quote.review-icon
        p.review-content
          | Daniel did an excellent creative job. Quick and professional. Highly recommended, and will definitely work with him again.
        img.client-avatar(src='img/client-1.jpg', alt='Review avatar')
        span.client-name Maria Wilson
      // Single review
      .single-review
        i.icon.ion-md-quote.review-icon
        p.review-content
          | Daniel did an excellent creative job. Quick and professional. Highly recommended, and will definitely work with him again.
        img.client-avatar(src='img/client-2.jpg', alt='Review avatar')
        span.client-name John Santana
      // Single review
      .single-review
        i.icon.ion-md-quote.review-icon
        p.review-content
          | Daniel did an excellent creative job. Quick and professional. Highly recommended, and will definitely work with him again.
        img.client-avatar(src='img/client-3.jpg', alt='Review avatar')
        span.client-name Julia Sakura
